body::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(226, 232, 240 0.3);
  }

body::-webkit-scrollbar-thumb {
    background-color: rgb(138, 141, 244);
    outline: 1px solid rgb(138, 141, 244);
  }